<h2 ng-if="!drugs">Koszyk aktualnie jest pusty</h2>
<div ng-if="drugs">
    <h2>Koszyk</h2>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Image</th>
                <th>Id</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="drug in drugs">
                <td class="col-md-3"><img ng-src="{{drug.image}}" alt="image" height="70" ></td>
                <td class="col-md-2">{{drug.id}}</td>
                <td class="col-md-3">{{drug.name}}</td>
                <td class="col-md-2"><input type="number" min="1" ng-model="drug.quantity"/></td>
                <td class="col-md-2">{{ drug.price * drug.quantity }}</td>
            </tr>
        </tbody>
        <tfoot style="font-weight: 700">
            <tr>
                <td>Dodaj liste:</td>
                <td>Nazwa</td>
                <td>Opis</td>
                <td>Dodaj button</td>
                <td></td>
            </tr>
        </tfoot>
    </table>
</div>